.container{
   display: grid;
    border: 1px red solid;
    grid-template-rows: auto;
    grid-template-columns:  repeat(5,100px);
    
    
}

li {
    display: inline;
    list-style: none;
  }

  a{
      color: black;
  }

nav {
background-color: rgba(134, 94, 20, 0.733);
}



.redmask{
    grid-column: 1/4;
    grid-row: 1/3;
    

}

.Facebook{
    grid-column:7/8;
    grid-row: 1/2;
  }


.Twitter{
    grid-column: 7/8;
    grid-row: 1/4;
}
 
.Mask{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.Party{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.Makeup{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.clown{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.wiges{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.dancer{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.sale{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.Candy{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.Pirate{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.props{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.Santa{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.classic{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.shipping{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.hallown{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.secound{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.phrase{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.black{
    grid-column: 1/5px;
    grid-row: 1/5;
}
.mask{
    grid-column: 1/5px;
    grid-row: 1/5;
}
